/*主体部分*/
.main_nei{height: 420px;border: solid 1px #e3ecec;width: 1190px;margin: 40px auto}
/*头部*/
.main_nei .title{height: 61px;width: 1100px;margin: 20px auto;border-bottom: solid 1px #d6dfdf}
.title h1{font-size: 26px;font-weight: bolder;padding-top: 10px}
.title .title_jindu{float: right;width: 458px;*margin-top: -30px}
.title_jindu p{margin-top: -25px;*margin-top: 0px;}
.title_jindu p img{width: 458px;height: 16px; display: block; overflow: hidden;}
.title_jindu ul li{float: left;width: 33.3%;text-align: center;font-size: 14px;*width: 33%;line-height: 40px;display: inline}
.title_jindu ul .re{color: #ff0000}

/*表单部分*/
.main_from{width: 882px;height: 278px;margin: 40px auto;background: #ffffff
}
/*左边*/
.from_left{width: 45%;height: 198px;float: left;background: url(../images/xiugai_bg.jpg) no-repeat;}
/*右侧*/
.from_right{width: 40%;height: 278px;float: right;*overflow: hidden;margin-right: 50px}
.from_right td{position: relative}
.from_right label{display: inline-block;*padding-bottom: 10px;font-size: 16px;}
.from_right input{height: 30px;border: none;border: solid 1px #dae3e3;*padding-top: 15px;margin-top: 30px;padding-top: 5px;padding-left: 10px;font-size: 14px;border-radius: 3px}
.from_right span{display: inline-block;width: 60px;height: 28px;margin: 10px;line-height: 32px;margin-right: 0;*margin: 0;padding: 0;}
.from_right span img{width: 60px;height: 28px;}
.from_right a{vertical-align: baseline;cursor: pointer;display: inline-block;line-height: 30px;*padding-bottom: 10px;}
.from_right a:hover{color: #ff0000}
.for_lab label{font-size: 16px;*padding-bottom:10px;display: inline-block;text-align: right;width: 100px;margin-right: 4px}
 .btn{width: 120px;height: 36px;outline: none;background: #ea544a;border: none;margin-top: 20px;color: #fff;font-size: 16px;
     font-weight: bolder;border-radius: 5px;margin-left: 15px}
 .main_success{width: 200px;margin: 60px auto}
 .success_btn{width: 120px;height: 36px;outline: none;background: #ff8c61;border: none;margin-top: 20px;color: #fff;
     font-size: 16px;font-weight: bolder;border-radius: 5px}


/*第二页确认密码*/
.main_from .pasd{height: 35px;border: none;border: solid 1px #dae3e3;margin-top: 30px;line-height: 35px;padding-left: 10px;font-size: 14px;border-radius: 3px;
width: 226px;background: url(../images/xiugai_suo.png) no-repeat left center;padding-left: 30px}
.form_b{width: 288px;margin: 0 auto}
.form_b .btn{margin-left: 110px}
.main_from label{font-size: 16px;*padding-bottom:10px;display: inline-block;text-align: right;width: 100px;margin-right: 4px}